{% extends 'base.html.twig' %}

{% block title %}Prijava{% endblock %}

{% block body %}
    <header>
        Portal za knjižnice obrazovnih ustanova
    </header>
    <div class="container-fluid main">
        <div class="row col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="wrapper">
                    <h1 style="font-weight: bold; font-size: 3rem;">Dobro došli!</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 mt-3">
                            {% if is_granted('ROLE_LIBRARY') %}
                                <a href="{{ path('knjiznica_izbornik') }}">Povratak u izbornik</a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('korisnicki_izbornik') }}">Povratak u izbornik</a>
                            {% endif %}

                            Prijavljeni ste kao {{ app.user.username }} <a href="{{ path('app_logout') }}"><button class="btn">Odjava</button></a>
                        </div>
                    {% endif %}
                <form method="post" class="login">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control" placeholder="e-mail:" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="lozinka:"
                           required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
                    #}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="_remember_me">
                        <label class="form-check-label remember" for="flexCheckDefault">
                            zapamti me
                        </label>
                    </div>
                    <a href="{{ path('app_forgot_password_request') }}">Zaboravljena lozinka</a>
                    <div class="submit text-center">
                        <button class="btn btn-lg btn-logins" type="submit">
                            PRIJAVA
                        </button>
                    </div>
                </form>
{#                <div class="text-center">#}
{#                    <a href="{{ path('activation_index', {'code': ''} ) }}">#}
{#                        <button class="btn btn-lg btn-logins">#}
{#                            aktivacija#}
{#                        </button>#}
{#                    </a>#}
{#                </div>#}
            </div>

        </div>
    </div>
{% endblock %}
