{% extends 'base.html.twig' %}

{% block title %}Prijava{% endblock %}

{% block body %}
<header>
    Hello
</header>
    <div class="container wrapper">
    <div class="row">
        <form method="post" class="login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 mt-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="mb-3 font-weight-normal">Prijavite se!</h1>
            <label class="mb-2 mt-2" for="inputEmail">E-pošta:</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label class="mb-2 mt-3" for="inputPassword">Lozinka:</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="form-check mb-2 mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="_remember_me">
                <label class="form-check-label" for="flexCheckDefault">
                    Zapamti me
                </label>
            </div>
            <div class="submit text-center">
                <button class="btn btn-lg btn-primary btn-danger mt-3" type="submit">
                    Prijava
                </button>
            </div>
        </form>
    </div>
</div>
    <footer>
        Hello
    </footer>

{% endblock %}
