{% extends 'base.html.twig' %}

{% block title %}Izbornik{% endblock %}

{% block body %}
    <h1>Dobrodošli korisniče</h1>
    <a href="{{ path('app_logout') }}">rezervacije</a>
    <a href="{{ path('app_logout') }}">posuđeno</a>
    <a href="{{ path('app_logout') }}">rezervacija</a>
    <a href="{{ path('app_logout') }}">profil</a>
    <a href="{{ path('app_logout') }}">obavijesti</a>
    <a href="{{ path('app_logout') }}">radno vrijeme</a>
    <a href="{{ path('app_logout') }}">postavke</a>
    <a href="{{ path('app_logout') }}">info/pomoć</a>
    <a href="{{ path('app_logout') }}">odjava</a>
{% endblock %}
