{% extends 'base.html.twig' %}

{% block title %}Izbornik{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="ime-knjiznice">
        <h1>{{ korisnik.knjiznice.naziv}}</h1>
        <h2>{{ korisnik.knjiznice.adresa}}</h2>
    </div>
{% endblock %}

{% block body %}


    <div class="korisnik-main">
            <div class="buttons">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('pregled_knjiga') }}">
                                <div class="box1">
                                    <p>PRETRAŽI</p>
                                    <img src="/files/pitcures/icons/pretraziMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('posudjene_knjige_korisnika') }}">
                                <div class="box2">
                                    <p>POSUĐENO: {{ korisnik.brojTrenutnoPosudenih }}</p>
                                    <img src="/files/pitcures/icons/posudenoMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('rezervirane_knjige_korisnika') }}">
                                <div class="box3">
                                    <p>REZERVIRANO: {{ korisnik.brojTrenutnoRezerviranih }}</p>
                                    <img src="/files/pitcures/icons/rezerviranoMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer class="korisnik-footer" style="color: black;">
        Jumka books
    </footer>
    </div>
{% endblock %}
