{% extends 'base.html.twig' %}

{% block title %}Izbornik{% endblock %}

{% block body %}
    <header class="pocetna">
        <div class="ime-slika">
            <div class="ime-prezime">
                <p>{{ korisnik.ime }}</p>
                <p>{{ korisnik.prezime }}</p>
            </div>
            <img class="korisnicka-foto" src="{{ korisnik.fotografija }}">
        </div>
    </header>
    <section class="skola">
        <div>
            <h1>{{ korisnik.knjiznice.naziv}}</h1>
            <h2>{{ korisnik.knjiznice.adresa}}</h2>
        </div>
        <div id="myLinks">
            <a href="{{ path('korisnicki_profil') }}">profil <img src="/files/pitcures/icons/person.png"/></a>
            <a href="{{ path('korisnicke_obavijesti') }}">obavijesti <img src="/files/pitcures/icons/notification.png"/></a>
            <a href="{{ path('radno_vrijeme') }}">radno vrijeme <img src="/files/pitcures/icons/clock.png"/></a>
            <a href="{{ path('korisnicke_postavke') }}">postavke <img src="/files/pitcures/icons/settings.png"/></a>
            <a href="https://stackoverflow.com/questions/tagged/php">info/pomoć <img src="/files/pitcures/icons/help.png"/></a>
            <a href="{{ path('app_logout') }}">Odjavi se <img src="/files/pitcures/icons/onoff.png"/></a>
        </div>
        <a class="icon" onclick="myFunction()">
            <i class="fas fa-bars"></i>
        </a>
    </section>
    <div class="korisnik-main">
            <div class="buttons">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('pregled_knjiga') }}">
                                <div class="box1">
                                    <p>PRETRAŽI</p>
                                    <img src="/files/pitcures/icons/pretraziMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('posudjene_knjige_korisnika') }}">
                                <div class="box2">
                                    <p>POSUĐENO: {{ korisnik.brojTrenutnoPosudenih }}</p>
                                    <img src="/files/pitcures/icons/posudenoMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12">
                            <a class="izbornik-link" href="{{ path('rezervirane_knjige_korisnika') }}">
                                <div class="box3">
                                    <p>REZERVIRANO: {{ korisnik.brojTrenutnoRezerviranih }}</p>
                                    <img src="/files/pitcures/icons/rezerviranoMain.png" alt=""/>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="korisnik-footer" style="color: black;">
        Jumka books
    </footer>
{% endblock %}
