{% extends 'base.html.twig' %}

{% block title %}Moje Postavke{% endblock %}

{% block body %}
    <header>
        <div class="home">
            <a href="{{ path('korisnicki_izbornik') }}"><img src="/files/pitcures/icons/homewhite.png"/></a>
        </div>
        <div class="ime-slika">
            <div class="ime-prezime">
                <p>{{ korisnik.ime }}</p>
                <p>{{ korisnik.prezime }}</p>
            </div>
            <img class="korisnicka-foto" src="{{ korisnik.fotografija }}">
        </div>
    </header>
    <section class="skola">
        <div class="look">
            <img src="/files/pitcures/icons/settings.png">
            <h1>POSTAVKE</h1>
        </div>
        <div id="myLinks">
            <a href="{{ path('korisnicki_profil') }}">profil <img src="/files/pitcures/icons/person.png"/></a>
            <a href="{{ path('korisnicke_obavijesti') }}">obavijesti <img src="/files/pitcures/icons/notification.png"/></a>
            <a href="{{ path('radno_vrijeme') }}">radno vrijeme <img src="/files/pitcures/icons/clock.png"/></a>
            <a href="{{ path('korisnicke_postavke') }}">postavke <img src="/files/pitcures/icons/settings.png"/></a>
            <a href="https://stackoverflow.com/questions/tagged/php">info/pomoć <img src="/files/pitcures/icons/help.png"/></a>
            <a href="{{ path('app_logout') }}">Odjavi se <img src="/files/pitcures/icons/onoff.png"/></a>
        </div>
        <a class="icon" onclick="myFunction()">
            <i class="fas fa-bars"></i>
        </a>
    </section>

    <div class="container-fluid postavke">
        <div class="row">
            <div>
                <h2>Obavijesti</h2>
            </div>
            <hr>
            <div class="obavijesti col-12 col-md-6 col-lg-4">
                <div class="obavijest">
                    <p>Dan prije isteka rezervacije</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
                        <label class="form-check-label" for="flexSwitchCheckDefault1">DA</label>
                    </div>
                </div>
                <div class="obavijest">
                    <p>Dan prije isteka roka za povratak</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
                        <label class="form-check-label" for="flexSwitchCheckDefault2">DA</label>
                    </div>
                </div>
                <div class="obavijest">
                    <p>Odobreno produženje</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault3">
                        <label class="form-check-label" for="flexSwitchCheckDefault3">DA</label>
                    </div>
                </div>
                <div class="obavijest">
                    <p>Iznos zakasnine svakih # dana</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault4">
                        <label class="form-check-label" for="flexSwitchCheckDefault4">DA</label>
                    </div>
                </div>
            </div>
            <div class="dodatne">
                <h2>Dodatne postavke</h2>
            </div>
            <hr>
            <div class="obavijesti col-12 col-md-6 col-lg-4">
                <div class="obavijest">
                    <p>Obavijesti mi šalji na e-mail</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault5">
                        <label class="form-check-label" for="flexSwitchCheckDefault5">DA</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="color: black;">
        Jumka books
    </footer>

{% endblock %}