{% extends 'base.html.twig' %}

{% block title %}Pretraživanje{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/pretraziIcon.png">
        <h1>PRETRAŽIVANJE</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid postavke trazi">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-inline">
                    {{ render(controller('App\\Controller\\SearchController::searchBarForGradja')) }}
                    <input class="form-control" type="search" placeholder="naslov knjige; ime autora" aria-label="Search">
                    <a href="#" class="search-btn">
                        <img src="/files/pitcures/icons/searchm.png">
                    </a>
                    <div id="popular">
                        <a href="#">novo <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#F4976C"/>
                            </svg>
                        </a>
                        <a href="#">popularno <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#F4976C"/>
                            </svg>
                        </a>
                        <a href="#">moj razred <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="10" cy="10" r="10" fill="#F4976C"/>
                            </svg>
                        </a>
                    </div>
                    <a class="icon" onclick="myFunction(popular)">
                        <img class="triangle" src="/files/pitcures/icons/triangle.png"/>
                    </a>
                </div>
                <div class="grade">
                    {% for gradja in gradjas %}
                        <div class="grada">
                            <div class="naslov">
                                <p class="ime-knjige">{{ gradja.naslov }}</p>
                                {% for autor in gradja.autori %}
                                    <p class="autor">{{ autor }}</p>
                                {% endfor %}
                            </div>
                            <div class="status">
                                {% if gradja.status == 'Dostupno' %}
                                    <a style="cursor: pointer;" onclick="sakriveno({{ loop.index }})">{{ gradja.status }}</a>
                                {% else %}
                                    <a class="nedostupno">{{ gradja.status }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="sakriveno">
                            <div class="zanr">
                                <p style="display: inline">Žanr: </p>
                                {% for zanr in gradja.zanrovi %}
                                    <span>{{ zanr }}</span>
                                {% endfor %}
                                <p>Godina izdanja: {{ gradja.godinaIzdanja ? gradja.godinaIzdanja|date('d.m.Y.') : '' }}</p>
                                <p>Opis: {{ gradja.opis }}</p>
                            </div>
                            <div class="status">
                                <a style="cursor: pointer;" onclick="popup({{ loop.index }})">Rezerviraj</a>
                            </div>
                        </div>
                        <div class="popup">
                            <p style="color: #B4DFE5;">Jeste li sigurni da želite rezervirati knjigu <span style="color: white;">{{ gradja.naslov }} ?</span></p>
                            <div style="display: flex; justify-content: center;">
                                <a href="{{ path('posudbe_new', {'id': gradja.id}) }}">DA</a>
                                <a style="cursor: pointer;" href="">NE</a>
                            </div>
                        </div>
                    {% else %}
                        <p>Nema podataka.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {#    <table class="table">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            {% if is_granted('ROLE_LIBRARY') %}#}
    {#                <th>Id</th>#}
    {#                <th>ISBN</th>#}
    {#            {% endif %}#}

    {#            <th>Status</th>#}
    {#            <th>Naslov</th>#}
    {#            <th>Autori</th>#}
    {#            {% if is_granted('ROLE_USER') %}#}
    {#                <th>Ime knjižnice</th>#}
    {#            {% endif %}#}
    {#            <th>Fotografija</th>#}
    {#            <th>Opis</th>#}
    {#            <th>DatumDodavanja</th>#}
    {#            <th>GodinaIzdanja</th>#}
    {#            <th>Jezik</th>#}
    {#            <th>Zanr</th>#}

    {#            {% if is_granted('ROLE_LIBRARY') %}#}
    {#                <th>BrojInventara</th>#}
    {#            {% endif %}#}
    {#            <th>Opcije</th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {#        {% for gradja in gradjas %}#}
    {#            <tr>#}
    {#                {% if is_granted('ROLE_LIBRARY') %}#}
    {#                    <td>{{ gradja.id }}</td>#}
    {#                    <td><img src="data:image/png;base64,{{ code.makeBarcode(  gradja.ISBN  , "Isbn").generate }}"#}
    {#                             alt="ISBN: {{ gradja.ISBN }} "/></td>#}
    {#                {% endif %}#}
    {#                <td>{{ gradja.status }}</td>#}
    {#                <td>{{ gradja.naslov }}</td>#}
    {#                {% for autor in gradja.autori %}#}
    {#                    <td>{{ autor }}</td>#}
    {#                {% endfor %}#}

    {#                {% if is_granted('ROLE_USER') %}#}
    {#                    <td>{{ gradja.knjiznicaVlasnik }}</td>#}
    {#                {% endif %}#}
    {#                <td><img width="100px" src="{{ gradja.fotografija }}"></td>#}
    {#                <td>{{ gradja.opis }}</td>#}
    {#                <td>{{ gradja.datumDodavanja ? gradja.datumDodavanja|date('Y-m-d') : '' }}</td>#}
    {#                <td>{{ gradja.godinaIzdanja ? gradja.godinaIzdanja|date('Y-m-d') : '' }}</td>#}
    {#                <td>{{ gradja.jezici ? gradja.jezici.ime : '' }}</td>#}
    {#                {% for zanr in gradja.zanrovi %}#}
    {#                    <td>{{ zanr }}</td>#}
    {#                {% endfor %}#}
    {#                {% if is_granted('ROLE_LIBRARY') %}#}
    {#                    <td><img src="data:image/png;base64,{{ code.makeBarcode(  gradja.brojInventara  , "Code39").generate }}"#}
    {#                             alt="ISBN: {{ gradja.brojInventara }} "/></td>#}
    {#                {% endif %}#}

    {#                <td>#}
    {#                    {% if is_granted('ROLE_LIBRARY') %}#}
    {#                        <a href="{{ path('gradja_show', {'id': gradja.id}) }}">show</a>#}
    {#                        <a href="{{ path('gradja_edit', {'id': gradja.id}) }}">edit</a>#}
    {#                    {% elseif gradja.status == 'Dostupno' %}#}
    {#                        <a href="{{ path('posudbe_new', {'id': gradja.id}) }}">Rezerviraj</a>#}
    {#                    {% endif %}#}
    {#                </td>#}

    {#            </tr>#}
    {#        {% else %}#}
    {#            <tr>#}
    {#                <td colspan="11">no records found</td>#}
    {#            </tr>#}
    {#        {% endfor %}#}
    {#        </tbody>#}
    {#    </table>#}
    {% if is_granted('ROLE_LIBRARY') %}
        <a href="{{ path('gradja_new') }}">Create new</a>

    {% endif %}
    <footer style="color: black;">
        Jumka books
    </footer>
{% endblock %}
