{% extends 'base.html.twig' %}

{% block title %}Rezerviranee knkioge{% endblock %}

{% block body %}
    <h1>Rezerviranee index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>ISBN</th>
            <th>Naslov</th>
            <th>Ime knjižnice</th>
            <th>Fotografija</th>
            <th>Opis</th>
            <th>Rok rezervacije</th>
            <th>Jezik</th>
            <th>BrojInventara</th>
            <th>Opcije</th>
        </tr>
        </thead>
        <tbody>
        {% for posudba in posudbe %}
            <tr>
                <td>{{ posudba.id }}</td>
                <td>{{ posudba.gradja.isbn }}</td>
                <td>{{ posudba.getGradja.getNaslov }}</td>
                <td>{{ posudba.getGradja.getKnjiznicaVlasnik.getNaziv }}</td>
                <td><img width="100px" src="{{ posudba.getGradja.fotografija }}"></td>
                <td>{{ posudba.getGradja.opis }}</td>
                <td>{{ posudba.datumPosudbe ? posudba.datumPosudbe |date('Y-m-d') : '' }}</td>
                <td>{{ posudba.getGradja.jezik }}</td>
                <td>{{ posudba.getGradja.brojInventara }}</td>


                <td>
                    <a href="#">Otkaži rezervaciju</a>
                    <a href="#">Produži</a>
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_LIBRARY') %}
        <a href="{{ path('gradja_new') }}">Create new</a>
    {% else %}
        <a href="{{ path('korisnicki_profil') }}">HOME</a>

    {% endif %}
{% endblock %}
