{% extends 'base.html.twig' %}

{% block title %}Moj Profil{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/person.png">
        <h1>PROFIL</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="korisnik-main profile-main">
        <div class="profile-container">
            <img class="profile-pic korisnicka-foto" src="{{ korisnik.fotografija }}">
        </div>
        <div class="podaci">
            <div class="container-fluid">
                <div class="row">
                    <div class="podaci-info col-12 col-md-8">
                        <p><b>Ime:</b> {{ korisnik.ime }}</p>
                        <p><b>Prezime:</b> {{ korisnik.prezime }}</p>
                        <p><b>Knjižnica:</b> {{ korisnik.knjiznice.naziv}}</p>
                        <p><b>Adresa:</b> {{ korisnik.knjiznice.adresa }}</p>
                        <p><b>Razred:</b> {{ korisnik.razred }}</p>
                        <p><b>Email:</b> {{ korisnik.email }}</p>
                    </div>
                    <div class="qr col-11 col-md-4">
                        <div class="qr-baby">
                            <img  src="data:image/png;base64,{{ code.makeBarcode(  korisnik.brojIskazniceKorisnika  , "Code128", "white").generate }}"
                                  alt="Bar code korisnika: {{ korisnik.brojIskazniceKorisnika  }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}