{% extends 'base.html.twig' %}

{% block title %}Moj Profil{% endblock %}

{% block nazivTrenutneStranice %}
    <div class="look">
        <img src="/files/pitcures/icons/person.png">
        <h1>PROFIL</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="korisnik-main profile-main">
        <div class="profile-container">
            <img class="profile-pic korisnicka-foto" src="{{ korisnik.fotografija }}">
        </div>
        <div class="podaci">
            <div class="container-fluid">
                <div class="row">
                    <div class="podaci-info col-12 col-md-6 col-lg-6">
                        <p>Ime: {{ korisnik.ime }}</p>
                        <p>Prezime: {{ korisnik.prezime }}</p>
                        <p>Knjižnica: {{ korisnik.knjiznice.naziv}}</p>
                        <p>Mjesto: {{ korisnik.knjiznice.adresa }}</p>
                        <p>Razred: {{ korisnik.razred }}</p>
                        <p>Email: {{ korisnik.email }}</p>
                    </div>
                    <div class="qr col-12 col-md-6 col-lg-6">
                        <div class="qr-baby">
{#                            <img  src="data:image/png;base64,{{ code.makeBarcode(  korisnik.brojIskazniceKorisnika  , "Code128").generate }}"#}
{#                                 alt="Bar code korisnika: {{ korisnik.brojIskazniceKorisnika  }}"/>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer style="color: black;">
        Jumka books
    </footer>

{% endblock %}