{% extends 'base.html.twig' %}

{% block title %}Moj Profil{% endblock %}

{% block body %}
    <h1>Profil moj index</h1>
    <a href="{{ path('korisnicki_izbornik') }}">HOME</a>
    <img width="100px" src="{{ korisnik.fotografija }}">
    <p>{{ korisnik.ime }}</p>
    <p>{{ korisnik.prezime }}</p>
    <p>{{ korisnik.knjiznice.naziv}}</p>
    <p>{{ korisnik.knjiznice.adresa }}</p>
    <p>{{ korisnik.razred }}</p>
    <p>{{ korisnik.email }}</p>
    <img src="data:image/png;base64,{{ code.makeBarcode(  korisnik.brojIskazniceKorisnika  , "Code128").generate }}"
         alt="Bar code korisnika: {{ korisnik.brojIskazniceKorisnika  }}"/>
{% endblock %}