{% extends 'base.html.twig' %}

{% block title %}Popis korisnika{% endblock %}

{% block body %}
    <h1>Popis korisnika</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Lozinka</th>
                <th>Broj Telefona</th>
                <th>Fotografija</th>
                <th>Razred</th>
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
        {% for korisnici in korisnicis %}
            <tr>
                <td>{{ korisnici.id }}</td>
                <td>{{ korisnici.ime }}</td>
                <td>{{ korisnici.prezime }}</td>
                <td>{{ korisnici.email }}</td>
                <td>{{ korisnici.lozinka }}</td>
                <td>{{ korisnici.brojTelefona }}</td>
                <td>{{ korisnici.fotografija }}</td>
                <td>{{ korisnici.razred }}</td>
                <td>
                    <a href="{{ path('korisnici_show', {'id': korisnici.id}) }}">show</a>
                    <a href="{{ path('korisnici_edit', {'id': korisnici.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Nema korisnika</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('korisnici_new') }}">Dodaj</a>
{% endblock %}
