{% extends 'base.html.twig' %}

{% block title %}Popis korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>POPIS KORISNIKA</h1>
{% endblock %}

{% block body %}
    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Email</th>
                    <th>Broj telefona</th>
                    <th>Fotografija</th>
                    <th>Razred</th>
                    {% if is_granted('ROLE_LIBRARY') %}
                        <th>Opcije</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for korisnici in korisnicis %}
                    <tr>
                        <td>{{ korisnici.id }}</td>
                        <td>{{ korisnici.ime }}</td>
                        <td>{{ korisnici.prezime }}</td>
                        <td>{{ korisnici.email }}</td>
                        <td>{{ korisnici.brojTelefona }}</td>
                        <td> <img src="{{ korisnici.fotografija }}" alt="Profilna fotografija" width="50px"> </td>
                        <td>{{ korisnici.razred }}</td>

                        {% if is_granted('ROLE_LIBRARY') %}
                            <td>
                                <a href="{{ path('korisnici_show', {'id': korisnici.id}) }}">
                                    <button class="knjiznice-btn btn">
                                        Prikaži
                                    </button>
                                </a>
                                <a href="{{ path('korisnici_edit', {'id': korisnici.id}) }}">
                                    <button class="knjiznice-btn btn">
                                        Uredi
                                    </button>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Nema korisnika</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('korisnici_new') }}">
            <button class="btn knjiznice-btn">
                Dodaj
            </button>
        </a>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}

