{% extends 'base.html.twig' %}

{% block title %}Pregled korisnika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/person.png">
    <h1>PREGLED KORISNIKA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ korisnici.id }}</td>
                </tr>
                <tr>
                    <th>Ime</th>
                    <td>{{ korisnici.ime }}</td>
                </tr>
                <tr>
                    <th>Prezime</th>
                    <td>{{ korisnici.prezime }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ korisnici.email }}</td>
                </tr>
                <tr>
                    <th>Broj Telefona</th>
                    <td>{{ korisnici.brojTelefona }}</td>
                </tr>
                <tr>
                    <th>Fotografija</th>
                    <td><img src="{{ korisnici.fotografija }}" alt="Profilna fotografija" width="50px"></td>
                </tr>
                <tr>
                    <th>Razred</th>
                    <td>{{ korisnici.razred }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ path('korisnici_index') }}">
            <button class="knjiznice-btn btn">
                Natrag na popis korisnika
            </button>
        </a>
        <a href="{{ path('korisnici_edit', {'id': korisnici.id}) }}">
            <button class="knjiznice-btn btn">
                Uredi
            </button>
        </a>
        </button>
        {{ include('korisnici/_delete_form.html.twig') }}
    </div>
{% endblock %}
