{% extends 'base.html.twig' %}

{% block title %}Drzave index{% endblock %}

{% block body %}
    <h1>Popis država</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <!--<th>Opcije</th>-->
            </tr>
        </thead>
        <tbody>
        {% for drzave in drzaves %}
            <tr>
                <td>{{ drzave.id }}</td>
                <td>{{ drzave.naziv }}</td>
                <!--<td>
                    <a href="{{ path('drzave_show', {'id': drzave.id}) }}">Prikaži</a>
                    <a href="{{ path('drzave_edit', {'id': drzave.id}) }}">Uredi</a>
                </td>-->
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nema pronađenih država</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<a href="{{ path('drzave_new') }}">Dodaj</a>-->
{% endblock %}
