{% extends 'base.html.twig' %}

{% block title %}Države{% endblock %}

{% block body %}
    <h1>Pregled države</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drzave.id }}</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>{{ drzave.naziv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('drzave_index') }}">natrag na popis država</a>

    <a href="{{ path('drzave_edit', {'id': drzave.id}) }}">Uredi</a>

    {{ include('drzave/_delete_form.html.twig') }}
{% endblock %}
