<!DOCTYPE html>
<html lang="hr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/c57dfe08d3.js" crossorigin="anonymous"></script>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_USER') %}
        <header>
            <div class="home">
                {% if app.request.get('_route') != 'korisnicki_izbornik' %}
                    <a href="{{ path('korisnicki_izbornik') }}"><img alt="Izbornik" src="/files/pitcures/icons/homewhite.png"/></a>
                {% endif %}
            </div>

            <div class="ime-slika">
                <div class="ime-prezime">
                    {% if korisnik is defined %}
                        <p>{{ korisnik.ime }}</p>
                        <p>{{ korisnik.prezime }}</p>
                    {% endif %}
                </div>
                {% if korisnik is defined %}
                    <img class="korisnicka-foto" src="{{ korisnik.fotografija }}" alt="profilna fotografija">
                {% endif %}

            </div>
        </header>

        <section class="skola">

            <div class="look">
                {% block nazivTrenutneStranice %}{% endblock %}
            </div>
            <div id="myLinks">
                <a href="{{ path('korisnicki_profil') }}">profil <img alt="profil" src="/files/pitcures/icons/person.png"/></a>
                <a href="{{ path('korisnicke_obavijesti') }}">obavijesti <img alt="obavijesti" src="/files/pitcures/icons/notification.png"/></a>
                <a href="{{ path('radno_vrijeme') }}">radno vrijeme <img alt="radno vrijeme" src="/files/pitcures/icons/clock.png"/></a>
                <a href="{{ path('korisnicke_postavke') }}">postavke <img alt="postavke" src="/files/pitcures/icons/settings.png"/></a>
                <a href="mailto:support@jumkabooks.hr?subject=Pomoć">info/pomoć <img alt="pomoć" src="/files/pitcures/icons/help.png"/></a>
                <a href="{{ path('app_logout') }}">Odjavi se <img alt="odjava" src="/files/pitcures/icons/onoff.png"/></a>
            </div>
            <a class="icon" onclick="myFunction(myLinks)">
                <i class="fas fa-bars"></i>
            </a>
        </section>
    {% endif %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success align-items-center">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger align-items-center">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('js/index.js') }}"></script>
    {% endblock %}
    </body>
</html>
