{% extends 'base.html.twig' %}

{% block title %}Izdavaci index{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/izdavacround.png">
    <h1>POPIS IZDAVAČA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Opcije</th>
                </tr>
                </thead>
                <tbody>
                {% for izdavaci in izdavacis %}
                    <tr>
                        <td>{{ izdavaci.id }}</td>
                        <td>{{ izdavaci.naziv }}</td>
                        <td>{{ izdavaci.adresa }}</td>
                        <td>
                            <a href="{{ path('izdavaci_show', {'id': izdavaci.id}) }}">
                                <button class="btn knjiznice-btn">
                                    Prikaži
                                </button>
                            </a>
                            <a href="{{ path('izdavaci_edit', {'id': izdavaci.id}) }}">
                                <button class="btn knjiznice-btn">
                                    Uredi
                                </button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">nema podataka.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('izdavaci_new') }}">
            <button class="btn">
                Dodaj
            </button>
        </a>
    </div>
{% endblock %}
