{% extends 'base.html.twig' %}

{% block title %}Izdavaci index{% endblock %}

{% block body %}
    <h1>Izdavaci index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Adresa</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for izdavaci in izdavacis %}
            <tr>
                <td>{{ izdavaci.id }}</td>
                <td>{{ izdavaci.naziv }}</td>
                <td>{{ izdavaci.adresa }}</td>
                <td>
                    <a href="{{ path('izdavaci_show', {'id': izdavaci.id}) }}">show</a>
                    <a href="{{ path('izdavaci_edit', {'id': izdavaci.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('izdavaci_new') }}">Create new</a>
{% endblock %}
