{% extends 'base.html.twig' %}

{% block title %}Prikaz izdavača{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/izdavacround.png">
    <h1>PRIKAZ IZDAVAČA</h1>
{% endblock %}

{% block body %}
    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ izdavaci.id }}</td>
                </tr>
                <tr>
                    <th>Naziv</th>
                    <td>{{ izdavaci.naziv }}</td>
                </tr>
                <tr>
                    <th>Adresa</th>
                    <td>{{ izdavaci.adresa }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ path('izdavaci_index') }}">
            <button class="btn knjiznice-btn">
                Povratak na popis izdavača
            </button>
        </a>

        <a href="{{ path('izdavaci_edit', {'id': izdavaci.id}) }}">
            <button class="btn knjiznice-btn">
                Uredi
            </button>
        </a>
        {{ include('izdavaci/_delete_form.html.twig') }}
    </div>
{% endblock %}
