{% extends 'base.html.twig' %}

{% block title %}Izbornik{% endblock %}

{% block body %}
    <h1>Dobrodošla knjižnica</h1>
    <a href="{{ path('rezervacije_korisnika') }}">pregled rezervacija</a>
    <a href="{{ path('posudbe_korisnika') }}">popis posudbi</a>
    <a href="{{ path('korisnici_index') }}">pregled korisnika</a>
    <a href="{{ path('gradja_new') }}">dodaj građu</a>
    <a href="{{ path('app_logout') }}">Odjava</a>
{% endblock %}
