{% extends 'base.html.twig' %}

{% block title %}Izbornik{% endblock %}

{% block body %}
    <h1>Dobrodošla knjižnica</h1>
    <a href="{{ path('app_logout') }}">popis posudbi</a>
    <a href="{{ path('app_logout') }}">pregled korisnika</a>
    <a href="{{ path('app_logout') }}">dodaj građu</a>
    <a href="{{ path('app_logout') }}">pregled posudbi</a>
    <a href="{{ path('app_logout') }}">pregled naruđba</a>
    <a href="{{ path('app_logout') }}">Odjava</a>
{% endblock %}
