{% extends 'base.html.twig' %}

{% block title %}Popis posudbi{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/posudenoIcon.png">
    <h1>POPIS POSUDBI</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Broj inventara</th>
                    <th scope="col">Broj iskaznice korisnika</th>
                    <th scope="col">Datum posudbe</th>
                    <th scope="col">Rok vraćanja</th>
                    <th scope="col">Zakasnina</th>
                    <th scope="col">Opcije</th>
                </tr>
                </thead>
                <tbody>
                {% for posudbe in posudbes %}
                    <tr>
                        <td>{{ posudbe.id }}</td>
                        <td><img src="data:image/png;base64,{{ code.makeBarcode(  posudbe.gradja.iSBN  , "Isbn", "#D1FDFE").generate }}"
                                 alt="Isbn: {{ posudbe.gradja.iSBN  }}"/></td>
                        <td><img src="data:image/png;base64,{{ code.makeBarcode(  posudbe.gradja.brojInventara  , "Code128", "#D1FDFE").generate }}"
                                 alt="Broj inventara: {{ posudbe.gradja.brojInventara  }}"/></td>
                        <td><img src="data:image/png;base64,{{ code.makeBarcode(  posudbe.korisnici.brojIskazniceKorisnika  , "Code39", "#D1FDFE").generate }}"
                                 alt="Broj iskaznice korisnika: {{ posudbe.korisnici.brojIskazniceKorisnika  }}"/></td>
                        <td>{{ posudbe.datumPosudbe ? posudbe.datumPosudbe|date('d.m.Y.') : '' }}</td>
                        <td>{{ posudbe.datumRokaVracanja ? posudbe.datumRokaVracanja|date('d.m.Y.') : '' }}</td>
                        <td>{{ posudbe.zakasnina }} kn</td>
                        <td>
                            <button class="btn knjiznice-btn"><a href="{{ path('vrati_gradju', {'id': posudbe.id}) }}">Vraćanje</a></button>
                            {% if posudbe.status.id == 9 %}
                                <button class="btn knjiznice-btn"><a href="{{ path('odobri-produljenje', {'id': posudbe.id}) }}">Odobri zahtjev za produljenje</a></button>
                                <button class="btn knjiznice-btn"><a href="{{ path('odbij-produljenje', {'id': posudbe.id}) }}">Odbij zahtjev za produljenje</a></button>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">nema podataka.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
