{% extends 'base.html.twig' %}

{% block title %}Popis jezika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/jezikround.png">
    <h1>POPIS JEZIKA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ime</th>
                    <th>Opcije</th>
                </tr>
                </thead>
                <tbody>
                {% for jezici in jezicis %}
                    <tr>
                        <td>{{ jezici.id }}</td>
                        <td>{{ jezici.ime }}</td>
                        <td>
                            <a href="{{ path('jezici_show', {'id': jezici.id}) }}">
                                <button class="btn knjiznice-btn">
                                    Prikaži
                                </button>
                            </a>
                            <a href="{{ path('jezici_edit', {'id': jezici.id}) }}">
                                <button class="btn knjiznice-btn">
                                    Uredi
                                </button>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Nema podataka.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('jezici_new') }}">
            <button class="btn knjiznice-btn">
                Dodaj
            </button>
        </a>
    </div>
{% endblock %}
