{% extends 'base.html.twig' %}

{% block title %}Jezici index{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/jezik.png">
    <h1>POPIS JEZIKA</h1>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Ime</th>
                    <th>Opcije</th>
                </tr>
                </thead>
                <tbody>
                {% for jezici in jezicis %}
                    <tr>
                        <td>{{ jezici.id }}</td>
                        <td>{{ jezici.ime }}</td>
                        <td>
                            <button class="knjiznice-btn btn">
                                <a href="{{ path('jezici_show', {'id': jezici.id}) }}">Prikaži</a>
                            </button>
                            <button class="knjiznice-btn btn">
                                <a href="{{ path('jezici_edit', {'id': jezici.id}) }}">Uredi</a>
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Nema podataka.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn">
            <a href="{{ path('jezici_new') }}">Dodaj</a>
        </button>
    </div>
{% endblock %}
