{% extends 'base.html.twig' %}

{% block title %}Prikaz jezika{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <img src="/files/pitcures/icons/jezik.png">
    <h1>PRIKAZ JEZIKA</h1>
{% endblock %}

{% block body %}
    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ jezici.id }}</td>
                </tr>
                <tr>
                    <th>Ime</th>
                    <td>{{ jezici.ime }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button class="btn knjiznice-btn">
            <a href="{{ path('jezici_index') }}">Povratak na listu</a>
        </button>
        <button class="btn knjiznice-btn">
            <a href="{{ path('jezici_edit', {'id': jezici.id}) }}">Uredi</a>
        </button>
        {{ include('jezici/_delete_form.html.twig') }}
    </div>
{% endblock %}
