{% extends 'base.html.twig' %}

{% block title %}Gradja index{% endblock %}

{% block body %}
    <h1>Gradja index</h1>

    {% if is_granted('ROLE_USER') %}
        <p>{{ korisnik.ime }}</p>
        <p>{{ korisnik.prezime }}</p>
        <td><img width="100px" src="{{ korisnik.fotografija }}" alt="profilna fotografija"></td>
    {% endif %}

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_LIBRARY') %}
                    <th>Id</th>
                    <th>ISBN</th>
                {% endif %}

                <th>Status</th>
                <th>Naslov</th>
                <th>Autori</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Ime knjižnice</th>
                {% endif %}
                <th>Fotografija</th>
                <th>Opis</th>
                <th>DatumDodavanja</th>
                <th>GodinaIzdanja</th>
                <th>Jezik</th>
                <th>Zanr</th>

                {% if is_granted('ROLE_LIBRARY') %}
                <th>BrojInventara</th>
                {% endif %}
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
        {% for gradja in gradjas %}
            <tr>
                {% if is_granted('ROLE_LIBRARY') %}
                    <td>{{ gradja.id }}</td>
                    <td>{{ gradja.ISBN }}</td>
                {% endif %}
                <td>{{ gradja.status }}</td>
                <td>{{ gradja.naslov }}</td>
                {% for autor in gradja.autori %}
                    <td>{{ autor }}</td>
                {% endfor %}

                {% if is_granted('ROLE_USER') %}
                    <td>{{ gradja.knjiznicaVlasnik }}</td>
                {% endif %}
                <td><img width="100px" src="{{ gradja.fotografija }}"></td>
                <td>{{ gradja.opis }}</td>
                <td>{{ gradja.datumDodavanja ? gradja.datumDodavanja|date('Y-m-d') : '' }}</td>
                <td>{{ gradja.godinaIzdanja ? gradja.godinaIzdanja|date('Y-m-d') : '' }}</td>
                <td>{{ gradja.jezici ? gradja.jezici.ime : '' }}</td>
                {% for zanr in gradja.zanrovi %}
                    <td>{{ zanr }}</td>
                {% endfor %}
                {% if is_granted('ROLE_LIBRARY') %}
                    <td>{{ gradja.brojInventara }}</td>
                {% endif %}

                <td>
                    {% if is_granted('ROLE_LIBRARY') %}
                            <a href="{{ path('gradja_show', {'id': gradja.id}) }}">show</a>
                            <a href="{{ path('gradja_edit', {'id': gradja.id}) }}">edit</a>
                    {% elseif gradja.status == 'Dostupno' %}
                            <a href="{{ path('posudbe_new', {'id': gradja.id}) }}">Rezerviraj</a>
                    {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_LIBRARY') %}
    <a href="{{ path('gradja_new') }}">Create new</a>
    {% else %}
        <a href="{{ path('korisnicki_izbornik') }}">HOME</a>

    {% endif %}
{% endblock %}
