{% extends 'base.html.twig' %}

{% block title %}Pregled knjige{% endblock %}

{% block nazivTrenutneStraniceKnjiznice %}
    <div class="look">
        <img src="/files/pitcures/icons/pretraziIcon.png">
        <h1>PREGLED KNJIGE</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="postavke">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <th>ISBN</th>
                    <td>{{ gradja.ISBN }}</td>
                </tr>
                <tr>
                    <th>Naslov</th>
                    <td>{{ gradja.naslov }}</td>
                </tr>
                <tr>
                    <th>Oib knjiznice</th>
                    <td>{{ gradja.knjiznicaVlasnik.oibKnjiznice }}</td>
                </tr>
                <tr>
                    <th>Fotografija</th>
                    <td>{{ gradja.fotografija }}</td>
                </tr>
                <tr>
                    <th>Opis</th>
                    <td>{{ gradja.opis }}</td>
                </tr>
                <tr>
                    <th>Datum dodavanja</th>
                    <td>{{ gradja.datumDodavanja ? gradja.datumDodavanja|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Godina izdanja</th>
                    <td>{{ gradja.godinaIzdanja ? gradja.godinaIzdanja|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Jezik</th>
                    <td>{{ gradja.jezici.ime }}</td>
                </tr>
                <tr>
                    <th>Broj inventara</th>
                    <td>{{ gradja.brojInventara }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ path('gradja_index') }}">
            <button class="btn knjiznice-btn">
                Povratak na popis knjiga
            </button>
        </a>

        <a href="{{ path('gradja_edit', {'id': gradja.id}) }}">
            <button class="btn knjiznice-btn">
                Uredi
            </button>
        </a>

        {{ include('gradja/_delete_form.html.twig') }}
    </div>
{% endblock %}
